body{
  font-family: "Segoe UI";
  font-color: rgba(95, 158, 160, 1);
}
.topnav {
  margin: auto;
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav input[type=text] {
  float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

button{
  background:rgba(76, 175, 80, 1);
  border: 1px rgba(76, 175, 80, 1);
  color: #ffffff;
  width: 75px;
  height: 25px;
  font-weight: bold;
  margin-left:15px;
  margin-bottom:10px;
}
button:hover{
  background:rgba(76, 175, 80, 0.9);
}
input[type='text']{
  border-radius: 50px;
  outline: none;
}
table, td, th{
  border: 1px solid black;
  min-width: 100%;
  text-align: center;
  border-collapse: collapse;
}
td{
  padding-top:2px;
  padding-bottom:4px;
}
th{
  color: #4d6cc7;
}
.searchAtCenter{
  margin: auto;
  text-align: center;
}

#searchTitle{
 color: rgba(95, 158, 160, 1);
}

#goBackButton{  
  margin: 5px;
  float: right;
}